@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-height: 100vh;
  background-color: white;
}

.gray-gradient {
  background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);

}

.subheading-typo {
  font-family: 'Open Sans', sans-serif;
}

.content-typo {
  font-family: 'Poppins', sans-serif;
}

.robotoFont {
  font-family: 'Roboto', sans-serif;
}